 
    
  
  .p{
    border:1px solid blue;
    padding-left: 50px;
    border-width: thin;
    height: 100px;
    width:100%;
    box-sizing: border-box;
  ;
  }
  .p a{
    padding-left: 50%;
     padding-top: 6px;
    font-size: 18px;
  }